UPLOAD_LOCATION="/srv/secure/immich/library"
DB_DATA_LOCATION="/srv/secure/immich/postgres"
TZ="Europe/Berlin"
IMMICH_VERSION="v3"
DB_PASSWORD="changeme"
DB_USERNAME="postgres"
DB_DATABASE_NAME="immich"
