.services-list:has(#immich-server) {
  grid-template-columns: repeat(6, 1fr) !important;
}
#immich-server {
  grid-column: span 3;
}
#immich-postgres,
#immich-ml,
#immich-redis {
  grid-column: span 1;
}

